auto-save-list
request
semanticdb/
smex-items
game
undohist
tramp-backups
ac-comphist.dat
history
eshell
game
recentf
backups
history
tramp
elpa
swank
site-lisp/adventur-mode
bookmarks
*.elc
\#*
/.emacs.desktop
/.mc-lists.el
/.places
.python-environments/
/SessionDesktop.el
ac-html-csswatcher/
/ido.last
/projectile-bookmarks.eld
pyim/
tags
url/
var/
flycheck_*.el
