[submodule "site-lisp/flx"]
	path = site-lisp/flx
	url = git@github.com:lewang/flx.git
[submodule "site-lisp/ido-vertical-mode.el"]
	path = site-lisp/ido-vertical-mode.el
	url = git@github.com:creichert/ido-vertical-mode.el.git
[submodule "site-lisp/f.el"]
	path = site-lisp/f.el
	url = git@github.com:rejeep/f.el.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = git@github.com:magnars/s.el.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = git@github.com:DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "site-lisp/js2-refactor.el"]
	path = site-lisp/js2-refactor.el
	url = git@github.com:magnars/js2-refactor.el.git
[submodule "site-lisp/emacs-transparent"]
	path = site-lisp/emacs-transparent
	url = git@github.com:Emacs-Phoenix/emacs-transparent.git
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "site-lisp/ido-at-point"]
	path = site-lisp/ido-at-point
	url = git@github.com:katspaugh/ido-at-point.git
[submodule "site-lisp/hippie"]
	path = site-lisp/hippie
	url = git@github.com:Emacs-Phoenix/hippie.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "plugins/global-pygments-plugin"]
	path = plugins/global-pygments-plugin
	url = git@github.com:yoshizow/global-pygments-plugin.git
[submodule "site-lisp/json-mode"]
	path = site-lisp/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "site-lisp/js2-extra"]
	path = site-lisp/js2-extra
	url = git@github.com:Emacs-Phoenix/js2-extra.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = git@github.com:marijnh/tern.git
[submodule "site-lisp/smartparens"]
	path = site-lisp/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "site-lisp/company-tern"]
	path = site-lisp/company-tern
	url = git@github.com:proofit404/company-tern.git
[submodule "site-lisp/company-web"]
	path = site-lisp/company-web
	url = git@github.com:osv/company-web.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = git@github.com:Emacs-Phoenix/yasnippet-snippets.git
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = git@github.com:smihica/emmet-mode.git
[submodule "plugins/Pymacs"]
	path = plugins/Pymacs
	url = git@github.com:pinard/Pymacs.git
[submodule "site-lisp/imenu-anywhere"]
	path = site-lisp/imenu-anywhere
	url = git@github.com:vspinu/imenu-anywhere.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git@github.com:winterTTr/ace-jump-mode.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = git@github.com:magnars/expand-region.el.git
[submodule "site-lisp/perspective-el"]
	path = site-lisp/perspective-el
	url = git@github.com:nex3/perspective-el.git
[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = git@github.com:emacsmirror/paredit.git
[submodule "site-lisp/edit-sword"]
	path = site-lisp/edit-sword
	url = git@github.com:Emacs-Phoenix/edit-sword.git
[submodule "site-lisp/shell-pop-el"]
	path = site-lisp/shell-pop-el
	url = git@github.com:kyagi/shell-pop-el.git
[submodule "site-lisp/eyebrowse"]
	path = site-lisp/eyebrowse
	url = git@github.com:wasamasa/eyebrowse.git
[submodule "site-lisp/zone-matrix"]
	path = site-lisp/zone-matrix
	url = git@github.com:Emacs-Phoenix/zone-matrix.git
[submodule "site-lisp/sublimity"]
	path = site-lisp/sublimity
	url = git@github.com:zk-phi/sublimity.git
[submodule "site-lisp/emacs-neotree"]
	path = site-lisp/emacs-neotree
	url = git@github.com:jaypei/emacs-neotree.git
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "site-lisp/helm-swoop"]
	path = site-lisp/helm-swoop
	url = git@github.com:ShingoFukuyama/helm-swoop.git
[submodule "site-lisp/aggressive-indent-mode"]
	path = site-lisp/aggressive-indent-mode
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "site-lisp/names"]
	path = site-lisp/names
	url = git@github.com:Malabarba/names.git
[submodule "site-lisp/indent-guide"]
	path = site-lisp/indent-guide
	url = git@github.com:zk-phi/indent-guide.git
[submodule "site-lisp/emacs-company-jedi"]
	path = site-lisp/emacs-company-jedi
	url = git@github.com:syohex/emacs-company-jedi.git
[submodule "site-lisp/web-completion-data"]
	path = site-lisp/web-completion-data
	url = git@github.com:osv/web-completion-data.git
[submodule "site-lisp/smart-forward.el"]
	path = site-lisp/smart-forward.el
	url = git@github.com:magnars/smart-forward.el.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = git@github.com:T-J-Teru/browse-kill-ring.git
[submodule "site-lisp/eye-care"]
	path = site-lisp/eye-care
	url = git@github.com:Emacs-Phoenix/eye-care.git
[submodule "site-lisp/html-extra"]
	path = site-lisp/html-extra
	url = git@github.com:Emacs-Phoenix/html-extra.git
[submodule "site-lisp/tagedit"]
	path = site-lisp/tagedit
	url = git@github.com:magnars/tagedit.git
[submodule "site-lisp/highlight-escape-sequences"]
	path = site-lisp/highlight-escape-sequences
	url = git@github.com:dgutov/highlight-escape-sequences.git
[submodule "themes/emacs-color-theme-solarized"]
	path = themes/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "themes/zenburn-emacs"]
	path = themes/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "themes/aurora-theme"]
	path = themes/aurora-theme
	url = git@github.com:xzerocode/aurora-theme.git
[submodule "site-lisp/web-beautify"]
	path = site-lisp/web-beautify
	url = git@github.com:yasuyk/web-beautify.git
[submodule "site-lisp/simplezen.el"]
	path = site-lisp/simplezen.el
	url = git@github.com:magnars/simplezen.el.git
[submodule "site-lisp/dockerfile-mode"]
	path = site-lisp/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "site-lisp/restclient.el"]
	path = site-lisp/restclient.el
	url = git@github.com:pashky/restclient.el.git
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "site-lisp/flycheck-pos-tip"]
	path = site-lisp/flycheck-pos-tip
	url = git@github.com:flycheck/flycheck-pos-tip.git
[submodule "site-lisp/ack-el"]
	path = site-lisp/ack-el
	url = git@github.com:leoliu/ack-el.git
[submodule "site-lisp/markdown-mode-plus"]
	path = site-lisp/markdown-mode-plus
	url = git@github.com:milkypostman/markdown-mode-plus.git
[submodule "site-lisp/symon"]
	path = site-lisp/symon
	url = git@github.com:zk-phi/symon.git
[submodule "site-lisp/guide-key"]
	path = site-lisp/guide-key
	url = git@github.com:kai2nenobu/guide-key.git
[submodule "site-lisp/visual-regexp.el"]
	path = site-lisp/visual-regexp.el
	url = git@github.com:benma/visual-regexp.el.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git@github.com:defunkt/coffee-mode.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "site-lisp/cider"]
	path = site-lisp/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "site-lisp/anaconda-mode"]
	path = site-lisp/anaconda-mode
	url = git@github.com:proofit404/anaconda-mode.git
[submodule "site-lisp/elpy"]
	path = site-lisp/elpy
	url = git@github.com:jorgenschaefer/elpy.git
[submodule "site-lisp/emacs-jedi"]
	path = site-lisp/emacs-jedi
	url = git@github.com:tkf/emacs-jedi.git
[submodule "site-lisp/clj-refactor.el"]
	path = site-lisp/clj-refactor.el
	url = git@github.com:clojure-emacs/clj-refactor.el.git
[submodule "popwin-el"]
	path = popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "site-lisp/popwin-el"]
	path = site-lisp/popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "site-lisp/pythonic"]
	path = site-lisp/pythonic
	url = git@github.com:proofit404/pythonic.git
[submodule "site-lisp/pyenv"]
	path = site-lisp/pyenv
	url = git@github.com:yyuu/pyenv.git
[submodule "site-lisp/pyenv.el"]
	path = site-lisp/pyenv.el
	url = git@github.com:cyberved/pyenv.el.git
[submodule "site-lisp/pyvenv"]
	path = site-lisp/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "site-lisp/Highlight-Indentation-for-Emacs"]
	path = site-lisp/Highlight-Indentation-for-Emacs
	url = git@github.com:antonj/Highlight-Indentation-for-Emacs.git
[submodule "site-lisp/pangu-spacing"]
	path = site-lisp/pangu-spacing
	url = git@github.com:coldnew/pangu-spacing.git
[submodule "themes/ample-theme"]
	path = themes/ample-theme
	url = git@github.com:jordonbiondo/ample-theme.git
[submodule "themes/moe-theme.el"]
	path = themes/moe-theme.el
	url = git@github.com:kuanyui/moe-theme.el.git
[submodule "themes/cyberpunk-theme.el"]
	path = themes/cyberpunk-theme.el
	url = git@github.com:n3mo/cyberpunk-theme.el.git
[submodule "themes/grandshell-theme"]
	path = themes/grandshell-theme
	url = git@github.com:steckerhalter/grandshell-theme.git
[submodule "site-lisp/full-ack"]
	path = site-lisp/full-ack
	url = git@github.com:nschum/full-ack.git
[submodule "site-lisp/ag.el"]
	path = site-lisp/ag.el
	url = git@github.com:Wilfred/ag.el.git
[submodule "site-lisp/emacs-helm-ack"]
	path = site-lisp/emacs-helm-ack
	url = git@github.com:syohex/emacs-helm-ack.git
[submodule "site-lisp/gh.el"]
	path = site-lisp/gh.el
	url = git@github.com:sigma/gh.el.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = git@github.com:technomancy/find-file-in-project.git
[submodule "site-lisp/emacs-epc"]
	path = site-lisp/emacs-epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "site-lisp/emacs-deferred"]
	path = site-lisp/emacs-deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "site-lisp/emacs-ctable"]
	path = site-lisp/emacs-ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "site-lisp/emacs-python-environment"]
	path = site-lisp/emacs-python-environment
	url = git@github.com:tkf/emacs-python-environment.git
[submodule "site-lisp/company-quickhelp"]
	path = site-lisp/company-quickhelp
	url = git@github.com:expez/company-quickhelp.git
[submodule "site-lisp/log4e"]
	path = site-lisp/log4e
	url = git@github.com:aki2o/log4e.git
[submodule "site-lisp/yaxception"]
	path = site-lisp/yaxception
	url = git@github.com:aki2o/yaxception.git
[submodule "site-lisp/typescript-tools"]
	path = site-lisp/typescript-tools
	url = git@github.com:clausreinke/typescript-tools.git
[submodule "site-lisp/json-snatcher"]
	path = site-lisp/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "site-lisp/json-reformat"]
	path = site-lisp/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "site-lisp/bm"]
	path = site-lisp/bm
	url = git@github.com:joodland/bm.git
[submodule "site-lisp/vlfi"]
	path = site-lisp/vlfi
	url = git@github.com:m00natic/vlfi.git
[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = git@github.com:emacsmirror/change-inner.git
[submodule "site-lisp/css-eldoc"]
	path = site-lisp/css-eldoc
	url = git@github.com:zenozeng/css-eldoc.git
[submodule "site-lisp/reveal-in-osx-finder"]
	path = site-lisp/reveal-in-osx-finder
	url = git@github.com:kaz-yos/reveal-in-osx-finder.git
[submodule "site-lisp/ibuffer-projectile"]
	path = site-lisp/ibuffer-projectile
	url = git@github.com:purcell/ibuffer-projectile.git
[submodule "site-lisp/ibuffer-vc"]
	path = site-lisp/ibuffer-vc
	url = git@github.com:purcell/ibuffer-vc.git
[submodule "site-lisp/less-css-mode"]
	path = site-lisp/less-css-mode
	url = git@github.com:purcell/less-css-mode.git
[submodule "site-lisp/undohist-el"]
	path = site-lisp/undohist-el
	url = git@github.com:m2ym/undohist-el.git
[submodule "site-lisp/ranger.el"]
	path = site-lisp/ranger.el
	url = git@github.com:ralesi/ranger.el.git
[submodule "site-lisp/emacs-uglify"]
	path = site-lisp/emacs-uglify
	url = git@github.com:Emacs-Phoenix/emacs-uglify.git
[submodule "site-lisp/emacs-boilerplate"]
	path = site-lisp/emacs-boilerplate
	url = git@github.com:Emacs-Phoenix/emacs-boilerplate.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git@github.com:slime/slime.git
[submodule "site-lisp/emacs-helm-ag"]
	path = site-lisp/emacs-helm-ag
	url = git@github.com:syohex/emacs-helm-ag.git
[submodule "site-lisp/emacs-which-key"]
	path = site-lisp/emacs-which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "boilerplate"]
	path = boilerplate
	url = git@github.com:Emacs-Phoenix/boilerplate.git
[submodule "site-lisp/paredit-everywhere"]
	path = site-lisp/paredit-everywhere
	url = git@github.com:purcell/paredit-everywhere.git
[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "site-lisp/elfeed"]
	path = site-lisp/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule "site-lisp/nginx-mode"]
	path = site-lisp/nginx-mode
	url = git@github.com:ajc/nginx-mode.git
[submodule "site-lisp/mview-image-and-emms-cover"]
	path = site-lisp/mview-image-and-emms-cover
	url = git@github.com:sabof/mview-image-and-emms-cover.git
[submodule "site-lisp/emms-mode-line-cycle"]
	path = site-lisp/emms-mode-line-cycle
	url = git@github.com:momomo5717/emms-mode-line-cycle.git
[submodule "site-lisp/emacs-web"]
	path = site-lisp/emacs-web
	url = git@github.com:nicferrier/emacs-web.git
[submodule "site-lisp/circe"]
	path = site-lisp/circe
	url = git@github.com:jorgenschaefer/circe.git
[submodule "site-lisp/react-snippets.el"]
	path = site-lisp/react-snippets.el
	url = git@github.com:johnmastro/react-snippets.el.git
[submodule "site-lisp/emacs-sos"]
	path = site-lisp/emacs-sos
	url = git@github.com:omouse/emacs-sos.git
[submodule "site-lisp/window-numbering.el"]
	path = site-lisp/window-numbering.el
	url = git@github.com:nschum/window-numbering.el.git
[submodule "site-lisp/chinese-fonts-setup"]
	path = site-lisp/chinese-fonts-setup
	url = git@github.com:tumashu/chinese-fonts-setup.git
[submodule "site-lisp/chinese-pyim"]
	path = site-lisp/chinese-pyim
	url = git@github.com:tumashu/chinese-pyim.git
[submodule "site-lisp/vimish-fold"]
	path = site-lisp/vimish-fold
	url = git@github.com:mrkkrp/vimish-fold.git
[submodule "emacs-org"]
	path = emacs-org
	url = git@git.coding.net:abychan/emacs-org.git
[submodule "site-lisp/emacs-livedown"]
	path = site-lisp/emacs-livedown
	url = git@github.com:shime/emacs-livedown.git
[submodule "site-lisp/reveal-dir"]
	path = site-lisp/reveal-dir
	url = git@github.com:Emacs-Phoenix/reveal-dir.git
[submodule "site-lisp/uimage"]
	path = site-lisp/uimage
	url = git@github.com:lujun9972/uimage.git
[submodule "site-lisp/project-management"]
	path = site-lisp/project-management
	url = git@github.com:Emacs-Phoenix/project-management.git
[submodule "site-lisp/nodejs-repl.el"]
	path = site-lisp/nodejs-repl.el
	url = git@github.com:abicky/nodejs-repl.el.git
[submodule "site-lisp/todolist"]
	path = site-lisp/todolist
	url = git@github.com:Emacs-Phoenix/todolist.git
[submodule "site-lisp/esup"]
	path = site-lisp/esup
	url = git@github.com:jschaf/esup.git
[submodule "site-lisp/spinner.el"]
	path = site-lisp/spinner.el
	url = git@github.com:Malabarba/spinner.el.git
[submodule "site-lisp/inf-clojure"]
	path = site-lisp/inf-clojure
	url = git@github.com:clojure-emacs/inf-clojure.git
[submodule "site-lisp/cider-nrepl"]
	path = site-lisp/cider-nrepl
	url = git@github.com:clojure-emacs/cider-nrepl.git
[submodule "site-lisp/squiggly-clojure"]
	path = site-lisp/squiggly-clojure
	url = git@github.com:clojure-emacs/squiggly-clojure.git
[submodule "site-lisp/edn.el"]
	path = site-lisp/edn.el
	url = git@github.com:expez/edn.el.git
[submodule "site-lisp/hydra"]
	path = site-lisp/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "site-lisp/avy"]
	path = site-lisp/avy
	url = git@github.com:abo-abo/avy.git
[submodule "site-lisp/jsx-mode.el"]
	path = site-lisp/jsx-mode.el
	url = git@github.com:Emacs-Phoenix/jsx-mode.el.git
[submodule "site-lisp/pkg-info.el"]
	path = site-lisp/pkg-info.el
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "site-lisp/emacs-learn-word"]
	path = site-lisp/emacs-learn-word
	url = git@github.com:Emacs-Phoenix/emacs-learn-word.git
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = git@github.com:cask/epl.git
[submodule "site-lisp/go-mode.el"]
	path = site-lisp/go-mode.el
	url = git@github.com:dominikh/go-mode.el.git
[submodule "site-lisp/scss-mode"]
	path = site-lisp/scss-mode
	url = git@github.com:Emacs-Phoenix/scss-mode.git
[submodule "site-lisp/emacs-anzu"]
	path = site-lisp/emacs-anzu
	url = git@github.com:syohex/emacs-anzu.git
[submodule "site-lisp/xah-css-mode"]
	path = site-lisp/xah-css-mode
	url = git@github.com:xahlee/xah-css-mode.git
[submodule "site-lisp/xah-replace-pairs"]
	path = site-lisp/xah-replace-pairs
	url = git@github.com:xahlee/xah-replace-pairs.git
[submodule "site-lisp/emacs-translate"]
	path = site-lisp/emacs-translate
	url = git@github.com:Emacs-Phoenix/emacs-translate.git
[submodule "site-lisp/clojure-cheatsheet"]
	path = site-lisp/clojure-cheatsheet
	url = git@github.com:clojure-emacs/clojure-cheatsheet.git
[submodule "site-lisp/NodeAtom.el"]
	path = site-lisp/NodeAtom.el
	url = git@github.com:Emacs-Phoenix/NodeAtom.el.git
[submodule "site-lisp/unicode-convert"]
	path = site-lisp/unicode-convert
	url = git@github.com:Emacs-Phoenix/unicode-convert.git
[submodule "site-lisp/js3-mode"]
	path = site-lisp/js3-mode
	url = git@github.com:thomblake/js3-mode.git
[submodule "site-lisp/pair-jump"]
	path = site-lisp/pair-jump
	url = git@github.com:Emacs-Phoenix/pair-jump.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "site-lisp/structured-haskell-mode"]
	path = site-lisp/structured-haskell-mode
	url = git@github.com:chrisdone/structured-haskell-mode.git
[submodule "site-lisp/osx-tools"]
	path = site-lisp/osx-tools
	url = git@github.com:Emacs-Phoenix/osx-tools.git
[submodule "site-lisp/eproject"]
	path = site-lisp/eproject
	url = git@github.com:jrockway/eproject.git
[submodule "site-lisp/emacs-helm-gtags"]
	path = site-lisp/emacs-helm-gtags
	url = git@github.com:syohex/emacs-helm-gtags.git
[submodule "site-lisp/ggtags"]
	path = site-lisp/ggtags
	url = git@github.com:leoliu/ggtags.git
[submodule "site-lisp/wakatime-mode"]
	path = site-lisp/wakatime-mode
	url = git@github.com:wakatime/wakatime-mode.git
[submodule "site-lisp/osx-location"]
	path = site-lisp/osx-location
	url = git@github.com:purcell/osx-location.git
[submodule "site-lisp/sunshine.el"]
	path = site-lisp/sunshine.el
	url = git@github.com:aaronbieber/sunshine.el.git
[submodule "site-lisp/typoel"]
	path = site-lisp/typoel
	url = git@github.com:jorgenschaefer/typoel.git
[submodule "site-lisp/hungry-delete.el"]
	path = site-lisp/hungry-delete.el
	url = git@github.com:Emacs-Phoenix/hungry-delete.el.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:Emacs-Phoenix/snippets.git
[submodule "site-lisp/learn-word.el"]
	path = site-lisp/learn-word.el
	url = git@github.com:Emacs-Phoenix/learn-word.el.git
[submodule "site-lisp/emacs-request"]
	path = site-lisp/emacs-request
	url = git@github.com:tkf/emacs-request.git
[submodule "site-lisp/spaceline"]
	path = site-lisp/spaceline
	url = git@github.com:TheBB/spaceline.git
[submodule "site-lisp/tide"]
	path = site-lisp/tide
	url = git@github.com:ananthakumaran/tide.git
[submodule "site-lisp/emacs-tss"]
	path = site-lisp/emacs-tss
	url = git@github.com:aki2o/emacs-tss.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "site-lisp/fuzzy-el"]
	path = site-lisp/fuzzy-el
	url = git@github.com:auto-complete/fuzzy-el.git
[submodule "esup"]
	path = esup
	url = git@github.com:jschaf/esup.git
[submodule "site-lisp/autopair"]
	path = site-lisp/autopair
	url = git@github.com:capitaomorte/autopair.git
[submodule "site-lisp/ropemacs"]
	path = site-lisp/ropemacs
	url = git@github.com:python-rope/ropemacs.git
[submodule "site-lisp/nyan-mode"]
	path = site-lisp/nyan-mode
	url = git@github.com:TeMPOraL/nyan-mode.git
[submodule "site-lisp/backups-mode"]
	path = site-lisp/backups-mode
	url = git@github.com:chadbraunduin/backups-mode.git
[submodule "site-lisp/osx-dictionary.el"]
	path = site-lisp/osx-dictionary.el
	url = git@github.com:xuchunyang/osx-dictionary.el.git
[submodule "site-lisp/chinese-word-at-point.el"]
	path = site-lisp/chinese-word-at-point.el
	url = git@github.com:xuchunyang/chinese-word-at-point.el.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "site-lisp/auto-compile"]
	path = site-lisp/auto-compile
	url = git@github.com:tarsius/auto-compile.git
[submodule "site-lisp/speed-type"]
	path = site-lisp/speed-type
	url = https://github.com/hagleitn/speed-type
[submodule "site-lisp/jquery-doc.el"]
	path = site-lisp/jquery-doc.el
	url = git@github.com:ananthakumaran/jquery-doc.el.git
[submodule "site-lisp/company-restclient"]
	path = site-lisp/company-restclient
	url = git@github.com:iquiw/company-restclient.git
[submodule "site-lisp/know-your-http-well"]
	path = site-lisp/know-your-http-well
	url = git@github.com:for-GET/know-your-http-well.git
[submodule "site-lisp/imenu-list"]
	path = site-lisp/imenu-list
	url = git@github.com:bmag/imenu-list.git
[submodule "site-lisp/highlight-symbol.el"]
	path = site-lisp/highlight-symbol.el
	url = git@github.com:nschum/highlight-symbol.el.git
[submodule "site-lisp/auto-highlight-symbol"]
	path = site-lisp/auto-highlight-symbol
	url = git@github.com:emacsmirror/auto-highlight-symbol.git
[submodule "site-lisp/helm-migemo"]
	path = site-lisp/helm-migemo
	url = git@github.com:emacs-jp/helm-migemo.git
[submodule "site-lisp/emacs-bash-completion"]
	path = site-lisp/emacs-bash-completion
	url = git@github.com:szermatt/emacs-bash-completion.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "site-lisp/project-explorer"]
	path = site-lisp/project-explorer
	url = git@github.com:sabof/project-explorer.git
[submodule "site-lisp/es-lib"]
	path = site-lisp/es-lib
	url = git@github.com:sabof/es-lib.git
[submodule "site-lisp/es-windows"]
	path = site-lisp/es-windows
	url = git@github.com:sabof/es-windows.git
[submodule "site-lisp/fzf.el"]
	path = site-lisp/fzf.el
	url = git@github.com:bling/fzf.el.git
[submodule "site-lisp/jade-mode"]
	path = site-lisp/jade-mode
	url = git@github.com:brianc/jade-mode.git
[submodule "site-lisp/packed"]
	path = site-lisp/packed
	url = git@github.com:tarsius/packed.git
[submodule "site-lisp/raml-mode"]
	path = site-lisp/raml-mode
	url = git@github.com:victorquinn/raml-mode.git
[submodule "site-lisp/jshint-mode"]
	path = site-lisp/jshint-mode
	url = git@github.com:daleharvey/jshint-mode.git
[submodule "site-lisp/migemo"]
	path = site-lisp/migemo
	url = git@github.com:emacs-jp/migemo.git
[submodule "site-lisp/whitespace-cleanup-mode"]
	path = site-lisp/whitespace-cleanup-mode
	url = git@github.com:purcell/whitespace-cleanup-mode.git
[submodule "site-lisp/dumb-jump"]
	path = site-lisp/dumb-jump
	url = git@github.com:jacktasia/dumb-jump.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "site-lisp/magit-filenotify"]
	path = site-lisp/magit-filenotify
	url = git@github.com:magit/magit-filenotify.git
[submodule "site-lisp/dash-at-point"]
	path = site-lisp/dash-at-point
	url = git@github.com:stanaka/dash-at-point.git
[submodule "site-lisp/fiplr"]
	path = site-lisp/fiplr
	url = git@github.com:grizzl/fiplr.git
[submodule "site-lisp/grizzl"]
	path = site-lisp/grizzl
	url = git@github.com:grizzl/grizzl.git
[submodule "site-lisp/helm-dash"]
	path = site-lisp/helm-dash
	url = git@github.com:areina/helm-dash.git
[submodule "site-lisp/fix-word"]
	path = site-lisp/fix-word
	url = git@github.com:mrkkrp/fix-word.git
[submodule "site-lisp/zzz-to-char"]
	path = site-lisp/zzz-to-char
	url = git@github.com:mrkkrp/zzz-to-char.git
[submodule "site-lisp/emacs-git-gutter"]
	path = site-lisp/emacs-git-gutter
	url = git@github.com:syohex/emacs-git-gutter.git
[submodule "site-lisp/--force"]
	path = site-lisp/--force
	url = git@github.com:Emacs-Phoenix/emacs-feedjs.git
