[submodule "site-lisp/emacs-transparent"]
	path = site-lisp/emacs-transparent
	url = git@github.com:Emacs-Phoenix/emacs-transparent.git
[submodule "site-lisp/hippie"]
	path = site-lisp/hippie
	url = git@github.com:Emacs-Phoenix/hippie.git
[submodule "plugins/global-pygments-plugin"]
	path = plugins/global-pygments-plugin
	url = git@github.com:yoshizow/global-pygments-plugin.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = git@github.com:Emacs-Phoenix/yasnippet-snippets.git
[submodule "plugins/Pymacs"]
	path = plugins/Pymacs
	url = git@github.com:pinard/Pymacs.git
[submodule "site-lisp/edit-sword"]
	path = site-lisp/edit-sword
	url = git@github.com:Emacs-Phoenix/edit-sword.git
[submodule "site-lisp/eye-care"]
	path = site-lisp/eye-care
	url = git@github.com:Emacs-Phoenix/eye-care.git
[submodule "site-lisp/html-extra"]
	path = site-lisp/html-extra
	url = git@github.com:Emacs-Phoenix/html-extra.git
[submodule "themes/emacs-color-theme-solarized"]
	path = themes/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "themes/zenburn-emacs"]
	path = themes/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "themes/aurora-theme"]
	path = themes/aurora-theme
	url = git@github.com:xzerocode/aurora-theme.git
[submodule "popwin-el"]
	path = popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "site-lisp/pyenv"]
	path = site-lisp/pyenv
	url = git@github.com:yyuu/pyenv.git
[submodule "site-lisp/Highlight-Indentation-for-Emacs"]
	path = site-lisp/Highlight-Indentation-for-Emacs
	url = git@github.com:antonj/Highlight-Indentation-for-Emacs.git
[submodule "site-lisp/emacs-uglify"]
	path = site-lisp/emacs-uglify
	url = git@github.com:Emacs-Phoenix/emacs-uglify.git
[submodule "site-lisp/emacs-boilerplate"]
	path = site-lisp/emacs-boilerplate
	url = git@github.com:Emacs-Phoenix/emacs-boilerplate.git
[submodule "boilerplate"]
	path = boilerplate
	url = git@github.com:Emacs-Phoenix/boilerplate.git
[submodule "site-lisp/reveal-dir"]
	path = site-lisp/reveal-dir
	url = git@github.com:Emacs-Phoenix/reveal-dir.git
[submodule "site-lisp/todolist"]
	path = site-lisp/todolist
	url = git@github.com:Emacs-Phoenix/todolist.git
[submodule "site-lisp/emacs-learn-word"]
	path = site-lisp/emacs-learn-word
	url = git@github.com:Emacs-Phoenix/emacs-learn-word.git
[submodule "site-lisp/emacs-translate"]
	path = site-lisp/emacs-translate
	url = git@github.com:Emacs-Phoenix/emacs-translate.git
[submodule "site-lisp/NodeAtom.el"]
	path = site-lisp/NodeAtom.el
	url = git@github.com:Emacs-Phoenix/NodeAtom.el.git
[submodule "site-lisp/pair-jump"]
	path = site-lisp/pair-jump
	url = git@github.com:Emacs-Phoenix/pair-jump.git
[submodule "site-lisp/osx-tools"]
	path = site-lisp/osx-tools
	url = git@github.com:Emacs-Phoenix/osx-tools.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:Emacs-Phoenix/snippets.git
[submodule "site-lisp/learn-word.el"]
	path = site-lisp/learn-word.el
	url = git@github.com:Emacs-Phoenix/learn-word.el.git
[submodule "site-lisp/emacs-request"]
	path = site-lisp/emacs-request
	url = git@github.com:tkf/emacs-request.git
[submodule "esup"]
	path = esup
	url = git@github.com:jschaf/esup.git
[submodule "site-lisp/know-your-http-well"]
	path = site-lisp/know-your-http-well
	url = git@github.com:for-GET/know-your-http-well.git
[submodule "site-lisp/fix-word"]
	path = site-lisp/fix-word
	url = git@github.com:mrkkrp/fix-word.git
