auto-save-list
ac-comphist.dat
tags
history
ido.last
recentf
backups
*~
.places
session.*
ido.last
#*
*#
#ido.last#
history
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
bookmarks
