[submodule "site-lisp/flx"]
	path = site-lisp/flx
	url = git@github.com:lewang/flx.git
[submodule "site-lisp/ido-vertical-mode.el"]
	path = site-lisp/ido-vertical-mode.el
	url = git@github.com:creichert/ido-vertical-mode.el.git
[submodule "site-lisp/f.el"]
	path = site-lisp/f.el
	url = git@github.com:rejeep/f.el.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = git@github.com:magnars/s.el.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = git@github.com:DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "site-lisp/js2-refactor.el"]
	path = site-lisp/js2-refactor.el
	url = git@github.com:magnars/js2-refactor.el.git
[submodule "site-lisp/emacs-transparent"]
	path = site-lisp/emacs-transparent
	url = git@github.com:Emacs-Phoenix/emacs-transparent.git
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "site-lisp/ido-at-point"]
	path = site-lisp/ido-at-point
	url = git@github.com:katspaugh/ido-at-point.git
[submodule "site-lisp/hippie"]
	path = site-lisp/hippie
	url = git@github.com:Emacs-Phoenix/hippie.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "site-lisp/ggtags"]
	path = site-lisp/ggtags
	url = git@github.com:leoliu/ggtags.git
[submodule "plugins/global-pygments-plugin"]
	path = plugins/global-pygments-plugin
	url = git@github.com:yoshizow/global-pygments-plugin.git
[submodule "site-lisp/json-mode"]
	path = site-lisp/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "site-lisp/js2-extra"]
	path = site-lisp/js2-extra
	url = git@github.com:Emacs-Phoenix/js2-extra.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:Emacs-Phoenix/js2-mode.git
[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = git@github.com:marijnh/tern.git
[submodule "site-lisp/smartparens"]
	path = site-lisp/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "site-lisp/company-tern"]
	path = site-lisp/company-tern
	url = git@github.com:proofit404/company-tern.git
[submodule "site-lisp/company-web"]
	path = site-lisp/company-web
	url = git@github.com:osv/company-web.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = git@github.com:Emacs-Phoenix/yasnippet-snippets.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "site-lisp/emacs-powerline"]
	path = site-lisp/emacs-powerline
	url = git@github.com:jonathanchu/emacs-powerline.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = git@github.com:smihica/emmet-mode.git
[submodule "plugins/Pymacs"]
	path = plugins/Pymacs
	url = git@github.com:pinard/Pymacs.git
[submodule "site-lisp/imenu-anywhere"]
	path = site-lisp/imenu-anywhere
	url = git@github.com:vspinu/imenu-anywhere.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git@github.com:winterTTr/ace-jump-mode.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = git@github.com:magnars/expand-region.el.git
[submodule "site-lisp/perspective-el"]
	path = site-lisp/perspective-el
	url = git@github.com:nex3/perspective-el.git
[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = git@github.com:emacsmirror/paredit.git
[submodule "site-lisp/edit-sword"]
	path = site-lisp/edit-sword
	url = git@github.com:Emacs-Phoenix/edit-sword.git
[submodule "site-lisp/shell-pop-el"]
	path = site-lisp/shell-pop-el
	url = git@github.com:kyagi/shell-pop-el.git
[submodule "site-lisp/eyebrowse"]
	path = site-lisp/eyebrowse
	url = git@github.com:wasamasa/eyebrowse.git
[submodule "site-lisp/tabbar"]
	path = site-lisp/tabbar
	url = git@github.com:dholm/tabbar.git
[submodule "site-lisp/zone-matrix"]
	path = site-lisp/zone-matrix
	url = git@github.com:Emacs-Phoenix/zone-matrix.git
[submodule "site-lisp/sublimity"]
	path = site-lisp/sublimity
	url = git@github.com:zk-phi/sublimity.git
[submodule "site-lisp/emacs-neotree"]
	path = site-lisp/emacs-neotree
	url = git@github.com:jaypei/emacs-neotree.git
[submodule "site-lisp/ztree"]
	path = site-lisp/ztree
	url = git@github.com:fourier/ztree.git
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "site-lisp/nyan-mode"]
	path = site-lisp/nyan-mode
	url = git@github.com:TeMPOraL/nyan-mode.git
[submodule "site-lisp/helm-swoop"]
	path = site-lisp/helm-swoop
	url = git@github.com:ShingoFukuyama/helm-swoop.git
[submodule "site-lisp/aggressive-indent-mode"]
	path = site-lisp/aggressive-indent-mode
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "site-lisp/names"]
	path = site-lisp/names
	url = git@github.com:Malabarba/names.git
[submodule "site-lisp/indent-guide"]
	path = site-lisp/indent-guide
	url = git@github.com:zk-phi/indent-guide.git
[submodule "site-lisp/emacs-company-jedi"]
	path = site-lisp/emacs-company-jedi
	url = git@github.com:syohex/emacs-company-jedi.git
[submodule "site-lisp/web-completion-data"]
	path = site-lisp/web-completion-data
	url = git@github.com:osv/web-completion-data.git
[submodule "site-lisp/quick-buffer-switch"]
	path = site-lisp/quick-buffer-switch
	url = git@github.com:renard/quick-buffer-switch.git
[submodule "site-lisp/smart-forward.el"]
	path = site-lisp/smart-forward.el
	url = git@github.com:magnars/smart-forward.el.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = git@github.com:T-J-Teru/browse-kill-ring.git
[submodule "site-lisp/eye-care"]
	path = site-lisp/eye-care
	url = git@github.com:Emacs-Phoenix/eye-care.git
[submodule "site-lisp/html-extra"]
	path = site-lisp/html-extra
	url = git@github.com:Emacs-Phoenix/html-extra.git
[submodule "site-lisp/tagedit"]
	path = site-lisp/tagedit
	url = git@github.com:magnars/tagedit.git
[submodule "site-lisp/prodigy.el"]
	path = site-lisp/prodigy.el
	url = git@github.com:rejeep/prodigy.el.git
[submodule "site-lisp/highlight-escape-sequences"]
	path = site-lisp/highlight-escape-sequences
	url = git@github.com:dgutov/highlight-escape-sequences.git
[submodule "themes/emacs-color-theme-solarized"]
	path = themes/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "themes/zenburn-emacs"]
	path = themes/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "themes/aurora-theme"]
	path = themes/aurora-theme
	url = git@github.com:xzerocode/aurora-theme.git
[submodule "site-lisp/web-beautify"]
	path = site-lisp/web-beautify
	url = git@github.com:yasuyk/web-beautify.git
[submodule "site-lisp/auto-indent-mode.el"]
	path = site-lisp/auto-indent-mode.el
	url = git@github.com:mlf176f2/auto-indent-mode.el.git
[submodule "site-lisp/auto-highlight-symbol"]
	path = site-lisp/auto-highlight-symbol
	url = git@github.com:emacsmirror/auto-highlight-symbol.git
[submodule "site-lisp/simplezen.el"]
	path = site-lisp/simplezen.el
	url = git@github.com:magnars/simplezen.el.git
[submodule "site-lisp/dockerfile-mode"]
	path = site-lisp/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "site-lisp/restclient.el"]
	path = site-lisp/restclient.el
	url = git@github.com:pashky/restclient.el.git
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "site-lisp/flycheck-pos-tip"]
	path = site-lisp/flycheck-pos-tip
	url = git@github.com:flycheck/flycheck-pos-tip.git
[submodule "site-lisp/ack-el"]
	path = site-lisp/ack-el
	url = git@github.com:leoliu/ack-el.git
[submodule "site-lisp/markdown-mode-plus"]
	path = site-lisp/markdown-mode-plus
	url = git@github.com:milkypostman/markdown-mode-plus.git
[submodule "site-lisp/symon"]
	path = site-lisp/symon
	url = git@github.com:zk-phi/symon.git
[submodule "site-lisp/hungry-delete.el"]
	path = site-lisp/hungry-delete.el
	url = git@github.com:soutaro/hungry-delete.el.git
[submodule "site-lisp/guide-key"]
	path = site-lisp/guide-key
	url = git@github.com:kai2nenobu/guide-key.git
[submodule "site-lisp/visual-regexp.el"]
	path = site-lisp/visual-regexp.el
	url = git@github.com:benma/visual-regexp.el.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git@github.com:defunkt/coffee-mode.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "site-lisp/cider"]
	path = site-lisp/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "site-lisp/anaconda-mode"]
	path = site-lisp/anaconda-mode
	url = git@github.com:proofit404/anaconda-mode.git
[submodule "site-lisp/elpy"]
	path = site-lisp/elpy
	url = git@github.com:jorgenschaefer/elpy.git
[submodule "site-lisp/emacs-jedi"]
	path = site-lisp/emacs-jedi
	url = git@github.com:tkf/emacs-jedi.git
[submodule "site-lisp/clj-refactor.el"]
	path = site-lisp/clj-refactor.el
	url = git@github.com:clojure-emacs/clj-refactor.el.git
[submodule "popwin-el"]
	path = popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "site-lisp/popwin-el"]
	path = site-lisp/popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "site-lisp/pythonic"]
	path = site-lisp/pythonic
	url = git@github.com:proofit404/pythonic.git
[submodule "site-lisp/pyenv"]
	path = site-lisp/pyenv
	url = git@github.com:yyuu/pyenv.git
[submodule "site-lisp/pyenv.el"]
	path = site-lisp/pyenv.el
	url = git@github.com:cyberved/pyenv.el.git
[submodule "site-lisp/pyvenv"]
	path = site-lisp/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "site-lisp/Highlight-Indentation-for-Emacs"]
	path = site-lisp/Highlight-Indentation-for-Emacs
	url = git@github.com:antonj/Highlight-Indentation-for-Emacs.git
[submodule "site-lisp/pangu-spacing"]
	path = site-lisp/pangu-spacing
	url = git@github.com:coldnew/pangu-spacing.git
[submodule "themes/ample-theme"]
	path = themes/ample-theme
	url = git@github.com:jordonbiondo/ample-theme.git
[submodule "themes/moe-theme.el"]
	path = themes/moe-theme.el
	url = git@github.com:kuanyui/moe-theme.el.git
[submodule "themes/cyberpunk-theme.el"]
	path = themes/cyberpunk-theme.el
	url = git@github.com:n3mo/cyberpunk-theme.el.git
[submodule "themes/grandshell-theme"]
	path = themes/grandshell-theme
	url = git@github.com:steckerhalter/grandshell-theme.git
[submodule "site-lisp/full-ack"]
	path = site-lisp/full-ack
	url = git@github.com:nschum/full-ack.git
[submodule "site-lisp/ag.el"]
	path = site-lisp/ag.el
	url = git@github.com:Wilfred/ag.el.git
[submodule "site-lisp/emacs-helm-ack"]
	path = site-lisp/emacs-helm-ack
	url = git@github.com:syohex/emacs-helm-ack.git
[submodule "site-lisp/gh.el"]
	path = site-lisp/gh.el
	url = git@github.com:sigma/gh.el.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = git@github.com:technomancy/find-file-in-project.git
[submodule "site-lisp/emacs-epc"]
	path = site-lisp/emacs-epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "site-lisp/emacs-deferred"]
	path = site-lisp/emacs-deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "site-lisp/emacs-ctable"]
	path = site-lisp/emacs-ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "site-lisp/emacs-python-environment"]
	path = site-lisp/emacs-python-environment
	url = git@github.com:tkf/emacs-python-environment.git
[submodule "site-lisp/company-quickhelp"]
	path = site-lisp/company-quickhelp
	url = git@github.com:expez/company-quickhelp.git
[submodule "site-lisp/emacs-tss"]
	path = site-lisp/emacs-tss
	url = git@github.com:aki2o/emacs-tss.git
[submodule "site-lisp/log4e"]
	path = site-lisp/log4e
	url = git@github.com:aki2o/log4e.git
[submodule "site-lisp/yaxception"]
	path = site-lisp/yaxception
	url = git@github.com:aki2o/yaxception.git
[submodule "site-lisp/typescript-tools"]
	path = site-lisp/typescript-tools
	url = git@github.com:clausreinke/typescript-tools.git
[submodule "site-lisp/json-snatcher"]
	path = site-lisp/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "site-lisp/json-reformat"]
	path = site-lisp/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "site-lisp/bm"]
	path = site-lisp/bm
	url = git@github.com:joodland/bm.git
[submodule "site-lisp/vlfi"]
	path = site-lisp/vlfi
	url = git@github.com:m00natic/vlfi.git
[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = git@github.com:emacsmirror/change-inner.git
