auto-save-list
emacs-desktop
.python-environments
desktop-recover-tmp
.emacs.desktop*
game
custom.el
undohist
emms
elfeed.org
.mc-lists.el
undohist
tramp-backups
ac-comphist.dat
tags
history
auto-complete/*
projectile-bookmarks.eld
*.swp
.cache
.undo
ido.last
eshell
game
recentf
backups
*~
.places
session.*
ido.last
#*
*#
#ido.last#
history
tramp
elpa
swank
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
bookmarks
